<ion-content>
    <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png">
          </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <p><ion-icon color="check" name="done-all"></ion-icon>Listen, I've had a pretty messed up day...</p>
          </ion-label>
          <ion-note slot="end">22:29</ion-note>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://ionicframework.com/docs/demos/api/list/avatar-han.png">
          </ion-avatar>
          <ion-label>
            <h2>Han</h2>
            <p><ion-icon name="done-all"></ion-icon>I've got enough on my plate as it is, and I...</p>
          </ion-label>
          <ion-note slot="end">22:29</ion-note>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://ionicframework.com/docs/demos/api/list/avatar-rey.png">
          </ion-avatar>
          <ion-label>
            <h2>Rey</h2>
            <p><ion-icon name="checkmark"></ion-icon>You will remove these restraints and leave...</p>
          </ion-label>
          <ion-note slot="end">22:29</ion-note>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://ionicframework.com/docs/demos/api/list/avatar-luke.png">
          </ion-avatar>
          <ion-label>
            <h2>Luke</h2>
            <p><ion-icon name="done-all"></ion-icon>I feel the good in you, the conflict...</p>
          </ion-label>
          <ion-note slot="end">22:29</ion-note>
        </ion-item>
      </ion-list>
</ion-content>